* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(sunset.jpg);
    background-position: center;
    background-size: cover;
}

.container{
    width: 360px;
    height: 400px;
    margin: 8% auto;
    background: transparent;
    border: 1px solid rgb(126, 30, 123);;
    border-radius: 25px;
    position: relative;
}

h3 {
    text-align: center;
    margin-bottom: 40px;
    color: rgb(126, 30, 123);
}

.container form {
    width: 280px;
    position: absolute;
    top: 100px;
    left: 40px;
}

form input {
    width: 100%;
    padding: 5px 0;
    border: 0;
    border-bottom: 1px solid rgb(126, 30, 123);
    background: transparent;
    margin: 10px;
    outline: none;
}

::placeholder{
    color: rgb(126, 30, 123);
    font-weight: 700;
}

.btn-box {
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

form button {
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: linear-gradient(to right, #5c1045, #fd64b1);
    border: 0;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    outline-color: none;
}

#form2 {
    left: 450px;
}

#form3 {
    left: 450px;
}