*{
    margin: 0;
    padding: 0;
    font-family:'poppins', sans-serif;
    box-sizing: border-box;
}

.back {
    width: 100%;
    height: 100vh;
    background-image: url(bg1.jpg);
    background-position: initial;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 90%;
    max-width: 600px;
}

.input-field {
    margin-bottom: 30px;
    position: relative;
}

input, textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    cursor: text;
    color: #fff;
    transition: 0.2s;
}

button {
    width: 100%;
    padding: 10px 0;
    outline: none;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
    cursor: pointer;
}

input:focus~label,input:valid~label, textarea:focus~label, textarea:valid~label {
    top: -35px;
    font-size: 14px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .input-field {
    flex-basis: 48%;
}

input#date::-webkit-input-placeholder { /* WebKit browsers */
    margin-left: 20px;
    color: yellow;
  }
  input#date:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    margin-left: 20px;
    color: yellow;
  }
  input#date::-moz-placeholder { /* Mozilla Firefox 19+ */
    margin-left: 20px;
    color: yellow;
  }
  input#date:-ms-input-placeholder { /* Internet Explorer 10+ */
    margin-left: 20px;
    color: yellow;
  }